*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html, body{
  height: 100%;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 90vh;
  padding: 40px 2%;
  /* max-height: 700px; */
  background-size: cover;
  background-position: center;
  background-image: url('../images/capa.png');
  font-weight: 300;
}

.clear{
  clear: both;
}

header .logo{
  float: left;
  width: 160px;
  height: 40px;
  background-color: #ccc;
}

header nav{
  float: right;
}

header nav.desktop-menu ul{
  list-style-type: none;
}

header nav.desktop-menu li{
  float: left;
  padding: 0 20px;
}

header nav.desktop-menu li a {
  text-decoration: none;
  color: white;
}

header nav.mobile-menu{
  display: none;
}


.chamada1{
  float: right;
  max-width: 600px;
  margin: 140px 150px;
}

.chamada1 h2{
  font-weight: 300;
  font-size: 40px;
  color: white;
}

.chamada1 p{
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

section.sessao1{
  width: 100%;
  background-color: #472562;
  padding: 0px 2%;
}

section.sessao1 .container{
  max-width: 900px;
}

.texto-sessao1{
  float: left;
  position: relative;
  left: 150px;
  width: 50%;
  margin-top: 30px;
  color: white;
}

.texto-sessao1 h2{
  font-weight: 300;
}

.texto-sessao1 p{
  font-size: 15px;
  margin-top: 20px;
}

.texto-sessao1 ul{
  font-size: 15px;
  list-style-position: inside;
}

.texto-sessao1 ul li{
  float: left;
  margin-top: 10px;
  width: 100%;
}

.btn1-texto{
  background-color: #FF703D;
  width: 165px;
  height: 44px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  line-height: 44px;
  border-radius: 25px;
}

.device-sessao1{
  float: left;
  width: 50%;
  height: 400px;
  margin-top: -50px;
  background-image: url('../images/device.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 768px){
  nav.desktop-menu{
    display: none;
  }

  nav.mobile-menu{
    display: block;
  }

  header{
    height: auto;
    min-height: 90vh;
  }

  .chamada1{
    max-width: none;
    width: 100%;
    text-align: center;
    float: none;
    margin: 200px 0;
  }

  .chamada1 h2{
    font-weight: 300;
    font-size: 30px;
    padding: 0 0;
    color: white;
  }

  .chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
  }

  section.sessao1{
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  .texto-sessao1{
    width: 100%;
    margin-top: 0;
    position: static;
    float: none;
    padding-left: 0;
    display: inline-block;
  }

  .texto-sessao1 ul{
    display: inline-block;
    margin-top: 20px;
  }

  .texto-sessao1 ul li{
    float: none;
    text-align: left;
  }

  .btn1-texto{
    display: inline-block;
  }

  .device-sessao1{
    display: none;
  }
}