* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto', cursive;
}

:root {
  --espacamento-menor: 12px;
  --espacamento-medio: 24px;
  --espacamento-maior: 48px;
}

/* Gerais */
html, body{
  height: 100%;
}

body{
  background-color: #004aad;
  background-size: 10%;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

.clear{
  clear: both;
}

.w25{
  width: 25%;
}

.w33{
  width: calc(100% / 3);
}

.w50{
  width: 50%;
}

.w100{
  width: 100%;
}

.conteudo{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Mensagem */
div.mensagem{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}

div.mensagem p{
  margin: 15px 0;
}

div.mensagem a{
  border-radius: 10px;
  margin-top: 20px;
}

div.mensagem span{
  color: #3fbd82;
}