* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto', cursive;
  /* overflow: hidden; */
}

:root {
  --espacamento-menor: 6px;
  --espacamento-medio: 12px;
  --espacamento-maior: 18px;
}

/* Gerais */
html, body{
  height: 100%;
}

body{
  background-image: url('../assets/images/fundo-letras.jpg');
  background-size: 10%;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

.clear{
  clear: both;
}

/* Header */
header{
  background-color: white;
  height: 100px;
  padding: var(--espacamento-menor) var(--espacamento-maior);
}

header > div.container {
  position: relative;
  height: 100%;
}

header .logo {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url('../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

header .menu{
  float: right;
  text-align: end;
  font-weight: bold;
  width: 50%;
  height: 100%;
}

header nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav a{
  text-decoration: none;
  color: black;
  margin-left: var(--espacamento-maior);
  cursor: pointer;
}

nav a:hover{
  color: rgb(167, 108, 0);
}

/* Main */
.main-video {
  position: relative;
  background-color: olivedrab;
  width: 100%;
  height: calc(100% - 100px);
  min-height: 600px;
  overflow: hidden;
}

.main-video video{
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.vagas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.vagas h3{
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 5px 5px 15px #000000;
}

.vagas button{
  cursor: pointer;
  position: relative;
  justify-content: center;
  background-color: orange;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: var(--espacamento-maior);
  left: 50%;
  transform: translateX(-50%);
  transition: padding 0.5s;
}

.vagas button:hover{
  padding: 10px 30px;
}

.quem-somos {
  /* background-image: url('../assets/images/fundo-letras.jpg'); */
  background-color: rgba(78, 149, 197, 0.87);
  background-size: 10%;
  padding: 60px 0px;
}

.cursos {
  background-color: rgba(78, 197, 132, 0.87);
  background-size: 10%;
  padding: 30px 0px;
}

.alunos {
  /* background-image: url('../assets/images/fundo-letras.jpg'); */
  height: 50%;
  background-color: rgba(179, 197, 78, 0.87);
  background-size: 10%;
  padding: 30px 0px;
}

.contato {
  /* background-image: url('../assets/images/fundo-letras.jpg'); */
  height: 50%;
  background-color: rgba(197, 126, 78, 0.87);
  background-size: 10%;
  padding: 30px 0px;
}

.box-titulo{
  background-color: #524e4ec4;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px 0px 20px 0px;
}

.box-titulo h3{
  position: relative;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

.postagem {
  width: 450px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #414141;
}

.postagem .titulo {
  padding: 10px 15px;
}

.postagem .titulo .logo{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-image: url('../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.postagem .titulo h2{
  display: inline-block;
  position: relative;
  transform: translateY(-60%);
  font-size: 16px;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.postagem .main img{
  position: relative;
  width: 100%;
}

.postagem .legenda{
  padding: 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.postagem .botoes{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.botoes i{
  font-size: 2rem;
  color: #585858;
  transition: 0.5s;
}

.botoes i:hover{
  color: rgb(22, 22, 22);
}

.cursos .banner{
  width: calc(100% / 3);
  height: 380px;
  display: inline-block;
  background-image: url('../assets/images/folha.jpg');
  background-size: 100% 100%;
  padding: 20px 25px;
  text-align: justify;
  border-radius: 10px;
}

.cursos .banner-wrap{
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  padding-right: 100px;
  padding-left: 100px;
}

.banner h2{
  margin-top: 20px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.banner p{
  line-height: 35px;
}

.banner button{
  background-color: rgb(255, 137, 41);
  border: 0;
  padding: 15px;
  border-radius: 30px;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.25s;
}

.cursos{
  padding-left: 200px;
  padding-right: 200px;
}

.banner button:hover{
  background-color: #461fd4;
  color: white;
  font-size: 15px;
}

/* Footer */