* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto', cursive;
  /* overflow: hidden; */
}

:root {
  --espacamento-menor: 6px;
  --espacamento-medio: 12px;
  --espacamento-maior: 18px;
}

/* Gerais */
html, body{
  height: 100%;
}

body{
  background-image: url('../assets/images/fundo-letras.jpg');
  background-size: 10%;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

.clear{
  clear: both;
}

.w25{
  width: 25%;
}

.w33{
  width: calc(100% / 3);
}

.w50{
  width: 50%;
}

.w100{
  width: 100%;
}

.conteudo{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Header */

header{
  position: fixed;
  z-index: 999999;
}

header div.row{
  background-color: #004aad;
  box-shadow: 0 5px rgba(1, 1, 1, 0.7);
}

header div.logo-column{
  height: 100px;
  float: left;
}

header div.logo-column > a > img {
  cursor: pointer;
  height: 100px;
  width: auto;
}

header div.menu-column{
  position: relative;
  height: 100px;
  float: right;
}

header div.menu-pc{
  text-align: end;
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

header div.menu-pc > nav {
  display: flex;
  justify-content: space-between;
}

header div.menu-pc > nav > a {
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.25s;
}

header div.menu-pc > nav > a:hover{
  color: #5ce6c9;
}

header div.menu-mobile{
  display: none;
}

header div.fita > img {
  max-width: 100px;
  float: right;
}


/* Main */

section.bloco{
  height: 100px;
}

section.main-video {
  width: 100%;
  height: calc(100% - 100px);
  overflow: hidden;
  box-shadow: 0 5px rgba(1, 1, 1, 0.7);
}

section.main-video video{
  width: inherit;
  object-fit: cover;
}

/* ///////////////////////// */

/* Main */

.vagas{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.vagas h3{
  text-align: center;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 5px 5px 15px #000000;
}

.vagas button{
  color: white;
  cursor: pointer;
  position: relative;
  justify-content: center;
  background-color: #fa7b2c;
  border: 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: var(--espacamento-maior);
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

section.vagas button > a{
  width: 100%;
  height: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.vagas button:hover{
  border-radius: 30px;
  padding: 15px 50px;
}
/*
section.faixa-branca{
  height: 20px;
  background-color: white;
  border-top: 5px solid rgb(141, 200, 255);
  border-bottom: 5px solid rgb(141, 200, 255);
}

.quem-somos {
  background-color: rgba(78, 149, 197, 0.87);
  background-size: 10%;
  padding: 60px 0px;
}

.cursos {
  background-color: rgba(156, 109, 81, 0.87);
  background-size: 10%;
  padding: 60px 0px;
}

.alunos {
  background-color: rgba(78, 149, 197, 0.87);
  background-size: 10%;
  padding: 60px 0px;
}

.contato {
  background-color: rgba(99, 49, 17, 0.87);
  background-size: 10%;
  padding: 60px 0px;
}

.box-titulo{
  background-color: #524e4ec4;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px 0px 20px 0px;
}

.box-titulo h3{
  position: relative;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

.postagem {
  width: 450px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #414141;
}

.postagem .titulo {
  padding: 10px 15px;
}

.postagem .titulo .logo{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-image: url('../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.postagem .titulo h2{
  display: inline-block;
  position: relative;
  transform: translateY(-60%);
  font-size: 16px;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.postagem .main img{
  position: relative;
  width: 100%;
}

.postagem .legenda{
  padding: 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.postagem .botoes{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.botoes i{
  font-size: 2rem;
  color: #585858;
  transition: 0.5s;
}

.botoes i:hover{
  color: rgb(22, 22, 22);
}

.cursos .banner{
  width: calc(100% / 3);
  display: inline-block;
  background-image: url('../assets/images/folha.jpg');
  background-size: 100% 100%;
  padding: 20px 25px;
  text-align: justify;
  border-radius: 10px;
}

.cursos .banner-wrap{
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
}

.banner h2{
  margin-top: 20px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.banner p{
  line-height: 35px;
}

.banner button{
  background-color: rgb(255, 137, 41);
  border: 0;
  padding: 15px;
  border-radius: 30px;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.25s;
}

.cursos{
  padding-left: 200px;
  padding-right: 200px;
}

.banner button:hover{
  background-color: #461fd4;
  color: white;
  font-size: 15px;
}

.alunos .box-wrap{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.alunos .box{
  width: 25%;
  border-radius: 20px;
  background-color: white;
  margin: 20px auto;
  overflow: hidden;
  display: inline-block;
}

.box img{
  position: relative;
  width: 100%;
}

.box p{
  padding: 10px 20px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.contato .formulario{
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.formulario .foto{
  float: left;
  width: 50%;
}

.formulario form{
  float: right;
  width: 50%;
  height: 100%;
  background-image: url('../assets/folha.jpg');
  background-size: cover;
  padding: 20px;
  padding-top: 40px;
}

.formulario form input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.formulario form textarea{
  width: 100%;
  height: 155px;
  resize: none;
  margin-bottom: 10px;
}

.foto img{
  width: 100%;
  height: 400px;
}

.contato input{
  display: block;
}

.contato input[type='submit']{
  background-color: #461fd4;
  height: 50px;
  color: white;
}

.contato p{
  text-align: center;
  margin-top: 20px;
  color: white;
}

/* Footer */

/*footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}*/

@media screen and (max-width: 1280px){
  .conteudo{
    padding: 0 2%;
  }
}

/* Tablet */
/*@media screen and (max-width: 1080px){

  header nav.mobile-menu{
    display: block;
  }

  header.menu{
    display: none;
  }

  .vagas button{
    margin: 0;
    margin-top: 20px;
  }
  
  .cursos .banner{
    display: block;
    width: 100%;
  }

  .alunos .box-wrap{
    display: block;
  }

  .cursos .banner:first-of-type{
    margin-bottom: 30px;
  }

  .cursos .banner-wrap{
    display: block;
  }

  .alunos .box{
    display: block;
    width: 50%;
  }

  .contato .formulario{
    width: 80%;
  }
}

/* Celular */
/*@media screen and (max-width: 768px){

  .vagas h3{
    font-size: 4rem;
  }

  .desktop-menu{
    display: none;
  }

  .quem-somos .postagem{
    width: 80%;
  }

  .cursos {
    padding-left: 0;
    padding-right: 0;
  }

  .cursos .banner-wrap{
    width: 80%;
    margin: 0 auto;
  }

  .alunos .box{
    width: 80%;
  }
  .formulario .foto{
    display: none;
  }

  .formulario form{
    width: 100%;
    margin-top: -10px;
  }
}