*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html, body{
  height: 100%;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 90vh;
  padding: 40px 2%;
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-image: url('../images/capa.png');
  font-weight: 300;
}

.clear{
  clear: both;
}

header .logo{
  float: left;
  width: 160px;
  height: 40px;
  background-color: #ccc;
  background-image: url('../images/logo-danki.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: -5px;
}

header nav{
  float: right;
}

header nav.desktop-menu ul{
  list-style-type: none;
}

header nav.desktop-menu li{
  float: left;
  padding: 0 20px;
}

header nav.desktop-menu li a {
  text-decoration: none;
  color: white;
}

header nav.mobile-menu{
  display: none;
  width: 32px;
  height: 32px;
  background-image: url('../images/menu.png');
  background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
  opacity: 1;
}

nav.mobile-menu ul li:hover{
  background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul{
  position: absolute;
  transition: 0.5s;
  opacity: 0;
  background-color: white;
  width: 100%;
  left: 0;
  top: 80px;
  list-style-type: none;
  text-align: center;
}

nav.mobile-menu ul li{
  padding: 8px 0;
  border-bottom: 1px solid black;
}

nav.mobile-menu ul li a{
  color: black;
  text-decoration: none;
}


.chamada1{
  float: right;
  max-width: 600px;
  margin: 140px 150px;
}

.chamada1 h2{
  font-weight: 300;
  font-size: 40px;
  color: white;
}

.chamada1 p{
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

section.sessao1{
  width: 100%;
  background-color: #472562;
  padding: 0px 2%;
}

section.sessao1 .container{
  max-width: 900px;
}

.texto-sessao1{
  float: left;
  position: relative;
  left: 150px;
  width: 50%;
  margin-top: 30px;
  color: white;
}

.texto-sessao1 h2{
  font-weight: 300;
}

.texto-sessao1 p{
  font-size: 15px;
  margin-top: 20px;
}

.texto-sessao1 ul{
  font-size: 15px;
  list-style-position: inside;
}

.texto-sessao1 ul li{
  float: left;
  margin-top: 10px;
  width: 100%;
}

.btn1-texto{
  background-color: #FF703D;
  width: 165px;
  height: 44px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  line-height: 44px;
  border-radius: 25px;
}

.device-sessao1{
  float: left;
  width: 50%;
  height: 400px;
  margin-top: -50px;
  background-image: url('../images/device.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sessao2{
  padding: 80px 2%;
  background-color: white;
  text-align: center;
  padding-bottom: 0;
}

.sessao2 h2{
  color: #472663;
  font-weight: 300;
}

.sessao2 p{
  margin-top: 30px;
  max-width: 900px;
  display: inline-block;
}

.sessao2 .container{
  max-width: 1000px;
}

.sessao2 img{
  position: relative;
  top: 80px;
  width: 100%;
}

.sessao3{
  width: 100%;
}

.part1{
  color: white;
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
  background: #835FA7;
}

.part1 h2{
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
}

.part1 p{
  font-size: 15x;
  line-height: 35px;
  margin-top: 10px;
}

.wrapper-part1{
  max-width: 600px;
  float: right;
  padding: 0 50px;
}

.part2{
  float: right;
  width: 50%;
  padding: 140px 0 90px 0;
  background: white;
}

.sobre-autor{
  float: left;
  max-width: 600px;
  padding: 0 50px;
}

.wrapper-titulo-autor{
  float: left;
}

.titulo-autor{
  float: left;
  width: 100%;
}

.titulo-autor h2{
  color: #232323;
  font-weight: 400;
  font-size: 25px;
  padding-right: 20px;
}

.titulo-autor p {
  font-size: 15px;
  color: #232323;
  font-weight: 300;
  font-style: italic;
}

.titulo-autor .img-autor{
  float: left;
  position: relative;
  top: -4px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: gray;
  background-image: url('../images/autor.jpg');
  background-size: 100% 100%;
}

.texto-autor{
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.texto-autor p{
  color: #232323;
  font-size: 15px;
}

.slider-bullets{
  float: left;
  width: 100%;
  margin-top: 8px;
  padding-left: 50px;
}

.slider-bullets span{
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.form{
  float: left;
  width: 50%;
  color: white;
  padding: 0 50px;
  margin: 0 auto;
}

.form h2{
  
  font-size: 23px;
  font-weight: 300;
}

.form p{
  font-size: 15px;
  font-weight: 300;
}

.form form{
  margin-top: 15px;
}

.form form input[type=text]{
  width: 100%;
  margin-top: 8px;
  height: 58px;
  padding-left: 8px;
  line-height: 58px;
  border: 1px solid rgb(200, 200, 200);
}

.form textarea{
  width: 100%;
  padding: 15px;
  height: 160px;
  border: 1px solid rgb(200, 200, 200);
  margin-top: 8px;
  resize: none;
}

.form form input[type=submit]{
  background-color: #FF703D;
  border: 0;
  width: 165px;
  height: 44px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 25px;
}

.map-wraper{
  float: right;
  width: 50%;
  color: white;
  padding: 0 50px;
  margin: 0 auto;
}

.map-wraper h2{
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 10px;
}

.map-wraper3{
  width: 100%;
  height: 100%;
  float: left;
  max-width: 480px;
  max-height: 400px;
  position: relative;
}

.map-wraper2{
  width: 100%;
  padding-top: calc(100% - 80px);
}

.map{
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: white;
  border: 5px solid rgb(200, 200, 200);
}

.sessao4{
  background-color: #472563;
  padding: 100px 0;
}

footer{
  padding: 40px 2%;
  background: #192123;
  color: white;
  font-size: 14px;
}

footer p:nth-of-type(1){
  float: left;
}

footer p:nth-of-type(2){
  float: right;
}

@media screen and (max-width: 768px){
  header nav.desktop-menu{
    display: none;
  }

  header nav.mobile-menu{
    display: block;
  }

  header{
    height: auto;
    min-height: 90vh;
  }

  .chamada1{
    max-width: none;
    width: 100%;
    text-align: center;
    float: none;
    margin: 200px 0;
  }

  .chamada1 h2{
    font-weight: 300;
    font-size: 30px;
    padding: 0 0;
    color: white;
  }

  .chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
  }

  section.sessao1{
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  .texto-sessao1{
    width: 100%;
    margin-top: 0;
    position: static;
    float: none;
    padding-left: 0;
    display: inline-block;
  }

  .texto-sessao1 ul{
    display: inline-block;
    margin-top: 20px;
  }

  .texto-sessao1 ul li{
    float: none;
    text-align: left;
  }

  .btn1-texto{
    display: inline-block;
  }

  .device-sessao1{
    display: none;
  }

  .part1, .part2{
    width: 100%;
    padding: 2% auto;
  }

  .form > form >input[type=submit]{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .wrapper-part1, .sobre-autor{
    max-width: none;
  }

  .form, .map-wraper{
    width: 100%;
    text-align: center;
  }

  .map-wraper3{
    max-width: none;
  }

  .map-wraper2{
    padding-top: 400px;
  }

  footer{
    text-align: center;
  }

  footer p:nth-of-type(1), footer p:nth-of-type(2){
    float: none;
  }
  
}